@model chat.ViewModels.ChangePasswordViewModel

<h2>Change Password</h2>

<form method="post" style="color:deeppink">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input id="passwordTextBox" asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        <label class="text-white">
            show password
            <input type="checkbox" onclick='toggleShowPassword()' />
        </label>
    </div>

    <div>
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button>Change</button>
</form>

<script src="~/js/ShowPassword.js"></script>
