@model chat.ViewModels.EditUserViewModel

<form asp-controller="User" asp-action="Edit" style="color:deeppink">

    <input value="@Model.UserId" asp-for="UserId" id="userId" hidden />

    <div>
        <label asp-for="UserName"></label>
        <input value="@Model.UserName" asp-for="UserName" id="userName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input value="@Model.Email" asp-for="Email" id="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <button id="changeButton" type="submit">confirm changes</button>
</form>
<div>
    <a asp-action="ChangePassword" asp-controller="User">Change Password</a>
</div>

<form method="post" style="color:deeppink" asp-action="DeleteUser">
    <button type="submit">Delete account</button>
</form>

<div>
    <a asp-action="Hello" asp-controller="MainMenu">To Menu</a>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/UserNameChanged.js"></script>
