/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



.dropdown-toggle {
    background-color: transparent;
    border-color: #fff;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

.border-aqua {
    border-bottom-color: aqua !important;
}

.pointer {
    cursor: pointer !important;
}

/* Provide sufficient contrast against white background */
.back {
    background: #1c262c;
}

body {
    min-height: 100%;
}

.container-fluid {
}


/*neomorphisp cards*/
.cardconvex {
    border-radius: 50px;
    background: linear-gradient(145deg, #1e292f, #192228);
    box-shadow: 20px 20px 31px #141b20, -20px -20px 31px #243138;
}

.cardflat {
    border-radius: 15px;
    background: #1c262c;
    box-shadow: 5px 5px 10px #192127, -5px -5px 10px #1f2b31;
}

.cardpressed {
    border-radius: 15px;
    background: #1c262c;
    box-shadow: inset 5px 5px 10px #171f24, inset -5px -5px 10px #212d34;
}

.btn-primary {
    border-radius: 50px;
    background: #1c262c;
    box-shadow: 20px 20px 60px #182025, -20px -20px 60px #202c33;
}

.concavecard {
    border-radius: 50px;
    background: linear-gradient(145deg, #192228, #1e292f);
    box-shadow: 20px 20px 31px #141b20, -20px -20px 31px #243138;
}

.cardline {
    height: 16px;
    border-radius: 50px;
    background: linear-gradient(145deg, #192228, #1e292f);
    box-shadow: 20px 20px 31px #141b20, -20px -20px 31px #243138;
}

.chatcard {
    border-radius: 15px;
    background: #1c262c;
    box-shadow: 5px 5px 10px #192127, -5px -5px 10px #1f2b31;
}

.field-icon {
    float: right;
    margin-right: -30%;
    margin-top: 24px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}


input {
    width: inherit;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
}

    input:before {
        border: none;
    }

    input:focus {
        border: none;
        outline: none;
        background-color: none;
    }


    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-text-fill-color: floralwhite;
        -webkit-box-shadow: 20px 20px 31px #141b20, -20px -20px 31px #243138;
        transition: background-color 5000s ease-in-out 0s;
    }

.wpv-filter-form .form-control:focus {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.wpv-filter-form .form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.maintitle {
    font-size: 80px;
}

.secondtitle {
    font-size: 50px;
}

.markertext {
    color: aqua;
}

.ordinary-text {
    color: #a6a6a6;
    font-size: 24px;
}

.ordinary-text-color {
    color: #a6a6a6;
}

.secondmarkertext {
    text-decoration-style: solid;
    text-align: right;
}

.secondmarkertext-color {
    color: deeppink;
}

/*Auth form design*/
.authcontainer {
    margin-top: 10%;
    width: 100%;
    height: 90%;
    align-content: center;
    padding: 50px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-radius: 50px;
    color: deeppink;
    box-shadow: 20px 20px 60px #182025, -20px -20px 60px #202c33;
}

.headerbutton {
    width: 100px;
    margin-right: 24px;
    text-align: center;
}

button {
    border: none;
    outline: none;
}

    button:focus {
        border: none;
        outline: none;
    }

.loginbutton {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 24px;
    background: linear-gradient(145deg, #ff159d, #e61284);
    box-shadow: 20px 20px 31px #b80e6a, -20px -20px 31px #ff1abc05;
}

.signupbutton {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-top: 24px;
    background: linear-gradient(145deg, #00ffff, #00e6e6);
    box-shadow: 10px 10px 20px #00d1d1, -10px -10px 20px #00ffff05;
}
/*neomorphic check box*/
.check-button {
    display: inline-flex;
    border-radius: 5px;
}

    .check-button .toggle {
        height: 24px;
        width: 48px;
    }

.toggle input {
    position: relative;
    height: 100%;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: -8px -4px 8px 0px rgba(255,255,255,0.05), 8px 4px 12px 0px rgba(0,0,0,0.5), inset -4px -4px 4px 0px rgba(255,255,255,0.05), inset 4px 4px 4px 0px rgba(0,0,0,0.5);
}

.custom-file-label {
    border: none;
    border-radius: 25px;
    padding-left: 16px !important;
    box-shadow: -8px -4px 8px 0px rgba(255,255,255,0.05), 8px 4px 12px 0px rgba(0,0,0,0.5), inset -4px -4px 4px 0px rgba(255,255,255,0.05), inset 4px 4px 4px 0px rgba(0,0,0,0.5) !important;
}

    .custom-file-label:after {
        border: none !important;
        background: #1c262c;
        border-radius: 20px;
        height: calc(1.65em + .75rem) !important;
        padding: .375rem .95rem !important;
        box-shadow: -3px -3px 7px rgba(255,255,255,0.05), 3px 3px 5px rgba(0,0,0,0.5) !important;
    }

input:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    background: #1c262c;
    border-radius: 50%;
    /* transform: scale(1.1); */
    box-shadow: 20px 20px 31px #141b20, -20px -20px 31px #243138;
    transition: left 0.4s cubic-bezier(0.85,0.05,0.18,1.35);
}

input:checked:before {
    left: 24px;
    box-shadow: -8px -4px 8px 0px rgba(255,255,255,0.05);
}

.text:before {
    content: 'Remember me';
    float: right;
    width: 112px;
    color: #a6a6a6;
    margin-left: 20px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}

.text.check:before {
    content: 'Remember me';
    color: #7aebeb;
    text-shadow: 0px 0px 8px #00cec9;
}



.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

    .custom-checkbox + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }



/*logo design*/
.logo {
    width: 50px;
    height: 50px;
    font-size: 32px;
    text-align: center;
    color: aqua;
    margin-right: 24px;
}

.profile-out {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #1c262c;
    box-shadow: 5px 5px 10px #192127, -5px -5px 10px #1f2b31;
}

.profile-image {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
}

.small-profile {
    width: 24px;
    height: 24px;
}

.nav {
    border-width: 1px 0;
    list-style: none;
    margin-top: -7px;
    padding: 0;
    text-align: center;
}

    .nav li {
        display: inline;
    }

    .nav a {
        display: inline-block;
        padding: 10px;
    }
/* Sticky footer stles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
/*chats design*/
.chats-header {
    font-size: 32px;
    color: deeppink;
    margin: 16px;
}

.chatscontainer {
    margin-top: 0;
    margin-left: 0;
    height: 100%;
}

.list-group {
    display: inline-block;
}

.chat-item {
    margin: 24px;
    padding: 16px;
    padding-bottom: 13px;
}

.hide-more-text {
    display: inline-block;
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search {
    width: inherit;
    margin: 24px;
}

.search-button {
    width: 36px;
    height: 36px;
    background-color: deeppink;
    border-radius: 36px;
}


.list-unstyled {
    height: 70vh;
    margin-bottom: 10px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.list-unstyled-messages {
    height: 60vh !important;
}

.list-unstyled-users {
    height: 50vh !important;
}

.list-unstyled::-webkit-scrollbar {
    width: 10px;
}

.list-unstyled::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #1c262c;
    box-shadow: inset 5px 5px 10px #171f24, inset -5px -5px 10px #212d34;
}

.list-unstyled::-webkit-scrollbar-thumb {
    background: #00ffff;
    border-radius: 10px;
}

/*floating action button*/
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 90px;
    background: linear-gradient(145deg, #ff159d, #e61284);
    /*box-shadow: 20px 20px 31px #b80e6a, -20px -20px 31px #ff1abc05;*/
    color: #FFF;
    border-radius: 50px;
    text-align: center;
}

    .float:hover {
        color: #a6a6a6;
    }

.my-float {
    margin-top: 22px;
}
/*dialog-styles*/
.create-button {
    border-radius: 15px;
    background-color: aqua;
}

.delate-button {
    border-radius: 15px;
    background-color: deeppink;
}

.no-border {
    border: 0;
    box-shadow: none;
}

.aqua-border-bottom {
    border-bottom: 1px solid #00FFFF;
}

.modal-footer {
    border-top: 1px solid #00FFFF;
}
/*chat-section*/

.chat-header {
    height: 42px;
    padding: 24px;
}

/*edit user and chat styles*/
.edit-image-size {
    height: 86px;
    width: 86px;
}

a {
    color: #a6a6a6 !important;
}

    a:hover {
        color: aqua !important;
    }

.dropdown-large {
    min-width: 280px;
}

#giveroles.text:before {
    content: 'Give Roles';
}

#giveroles.text.check:before {
    content: 'Give Roles is given';
}

#kickusers.text:before {
    content: 'Kick Users';
}

#kickusers.text.check:before {
    content: 'Kick Users is given';
}

#editchat.text:before {
    content: 'Edit Chat';
}

#editchat.text.check:before {
    content: 'Edit Chat is given';
}

#addusers.text:before {
    content: 'Add Users';
}

#addusers.text.check:before {
    content: 'Add Users is given';
}


y {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
