<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Hello from MainMenu/Hello
    <a asp-controller="Chat" asp-action="Chats"
   class="nav-link" style="color:deeppink">
    Go To Chats</a>
</body>
</html>