@model ICollection<AppUserChat>

@foreach (var chat in Model)
{
    <a asp-action = "Open" asp -controller = "Chat" asp-route-chatId = "@chat.ChatId"
       class="btn btn-primary m-1">@chat.Chat.ChatName</a>
}
<a asp-controller="Chat" asp-action="Create"
   class="nav-link" style="color:deeppink">
    Create Chat
</a>